@model DanhMuc;
@{
    ViewData["Title"] = "Bàn";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<style>
    body {
        margin-top: 90px;
    }
</style>
<div class="container">

    <h3>@Model.TenDanhMuc</h3>
    <hr>
    <div class="row">
        @foreach (var obj in Model.SanPham)
        {
            <div class="col-md-3 mt-4 text-center" id="@obj.Id">
                <div class="card border border-0 cardkhung w-100 h-100">
                    <div class="mt-2" style="height:15%">
                        <h5 class="card-title">@obj.Name</h5>
                    </div>
                    <div style="width:90%; height:100%; margin: 0 auto">
                        <img src="@obj.HinhAnh" class="w-100 h-100 rounded-2">
                    </div>
                    <div style="height:20%;">
                        <p class="mt-2 text-danger">@obj.Price.ToString("N0") VNĐ</p>
                    </div>
                    <div>
                        <div class="mt-5">
                            <button class="btn btn-primary mb-3 btnhideen" onclick="chuyentrang('@obj.Id')">Xem thêm</button>
                            <a href="" class="btn btn-danger mb-3 btnhideen1">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function chuyentrang(id) {
        window.location.href = '/Home/ChiTiet/?id=' + id;
    }
</script>